<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0">Update Version Management</h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn mb-0" href="/setting/version"><i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Go back</a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="card card-plain mt-2">
            <div class="card-header pb-0 text-left bg-transparent">
              {{!-- <h3 class="font-weight-bolder text-info text-gradient">Thông tin tài khoản mới</h3> --}}
              <p class="mb-0">Please fill in all the required information below!</p>
            </div>
            <div class="card-body">
              <form role="form" id="formUpdateVersion" onsubmit="return false;">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Version App</label>
                    <div class="mb-3">
                      <input name="version" type="text" class="form-control" value="{{version.version}}"
                        id="versionApp">
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <button type="submit" class="btn bg-gradient-dark mt-4 mb-0">Update version</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const formUpdateVersion = document.getElementById('formUpdateVersion');
  const versionApp = document.getElementById('versionApp');

  formUpdateVersion.addEventListener('submit', (e) => {
    const formData = {
      version: versionApp.value
    }


    fetch('/setting/version/{{version._id}}', {
      method: 'PUT',
      body: JSON.stringify(formData),
      headers: { 'Content-Type': 'application/json' },
    }).then((res) => {
      const response = {
        status: res.status,
        data: res.json(),
      }
      return response
    })
      .then(data => {
        data.data.then((val) => {
          if (data.status != 200) {
            Swal.fire({
              position: 'center',
              icon: 'error',
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            Swal.fire({
              position: "center",
              icon: "success",
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              window.location.href = "/setting/version"
            });
          }
        })
      })
  })
</script>