<!-- End Navbar -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <form role="form" id="formCreateUniversity" enctype="multipart/form-data">
        <div class="card-header shadow-none border-radius-xl position-sticky blur left-auto top-1 z-index-sticky pb-3">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <h6 class="mb-0 fs-4">Add new University</h6>
            </div>
            <div class="col-6 d-flex  justify-content-end align-items-center">
              <div>
                <a class="btn m-2" href="/university"><i class="fas fa-caret-square-left"></i>&nbsp;&nbsp;Go back</a>
              </div>
              <div>
                <button type="submit" class="btn bg-gradient-dark m-2">Create </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="card card-plain mt-2">
            <div class="card-header pb-0 text-left bg-transparent">
              {{!-- <h3 class="font-weight-bolder text-info text-gradient">Thông tin tài khoản mới</h3> --}}
              <p class="mb-0">Please fill in all the required information below!</p>
              <p class="mb-0 text-danger">{{message}}</p>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Name</label>
                    <div class="mb-3 ms-4 border p-4 mb-2 border-radius-lg">
                      <label>Vietnamese</label>
                      <input name="nameVi" type="text" class="form-control" placeholder="Vietnamese name">
                      <label>English</label>
                      <input name="nameEn" type="text" class="form-control" placeholder="English name">
                    </div>
                    <label>Image cover</label>
                    <div class="mb-3">
                      <input onchange="previewImage(event, 'preview_image_cover')"  name="imgCover" class="form-control" type="file"
                        accept=".png" />
                    </div>
                    <div id="preview_image_cover" class="m-3"></div>
                    <label>Icon</label>
                    <div class="mb-3">
                      <input onchange="previewImage(event, 'preview_icon')"  name="icon" class="form-control" type="file"
                        accept=".png" />
                    </div>
                    <div id="preview_icon" class="m-3"></div>
                    <label>Images Gallery</label>
                    <div class="mb-3">
                      <input onchange="previewImage(event,'preview_gallery')" name="imgGallery" class="form-control" type="file" multiple
                        accept=".png" />
                    </div>
                    <div id="preview_gallery" class="m-3"></div>
                    {{!-- <label>Admissions information (.pdf)</label>
                    <div class="mb-3">
                      <input onchange="previewFilePDF(event,'preview_pdf')" name="infoAdmission" class="form-control" type="file" multiple
                        accept=".pdf" />
                    </div>
                    <div id="preview_pdf" class="m-3"></div> --}}
                  </div>
                  
                  <div class="col-xl-6 col-lg-6 col-md-6">
                    <label>Code</label>
                    <div class="mb-3">
                      <input name="code" type="text" class="form-control" placeholder="XYZ"
                        id="codeCreate">
                    </div>
                    <label>Type of university</label>
                    <div class="mb-3">
                      <input name="type" type="text" class="form-control" placeholder="Type of university"
                        id="typeCreate">
                    </div>
                    <label>Training System</label>
                    <div class="mb-3">
                      <input name="trainingSystem" type="text" class="form-control" placeholder="Training System"
                        id="trainingSystemCreate">
                    </div>
                    <label>Address</label>
                    <div class="mb-3">
                      <input name="address" type="text" class="form-control" placeholder="Address"
                        id="addressCreate">
                    </div>
                    <label>Phone number</label>
                    <div class="mb-3">
                      <input name="phone" type="text" class="form-control" placeholder="0123456789"
                        id="phoneCreate">
                    </div>
                    <label>Email</label>
                    <div class="mb-3">
                      <input name="email" type="email" class="form-control" placeholder="xxx@..."
                        id="emailCreate">
                    </div>
                    <label>Website</label>
                    <div class="mb-3">
                      <input name="website" type="text" class="form-control" placeholder="http://www...."
                        id="websiteCreate">
                    </div>
                    <label>Facebook</label>
                    <div class="mb-3">
                      <input name="facebook" type="text" class="form-control" placeholder="www.facebook.com/..."
                        id="facebookCreate">
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

  //Hiển thị hình đã chọn
  function previewImage(event, previewIdPrefix) {
    const preview = document.querySelector(`#${previewIdPrefix}`);
    const files = event.target.files;
    preview.innerHTML = "";

    function readAndPreview(file) {
      if (file) {
        const reader = new FileReader();

        reader.addEventListener("load", (e) => {
          const image = new Image();
          //image.height = 50;
          image.width = 85;
          image.title = file.name;
          image.src = e.target.result;
          image.classList = 'm-2'
          preview.appendChild(image);
        }, false);

        reader.readAsDataURL(file);
      }
    }
    if (files) {
      Array.prototype.forEach.call(files, readAndPreview);
    }
  }

  function previewFilePDF(event, previewIdPrefix) {
    const preview = document.querySelector(`#${previewIdPrefix}`);
    const files = event.target.files;
    preview.innerHTML = "";

    function readAndPreview(file) {
      if (file) {
        const reader = new FileReader();

        reader.addEventListener("load", (e) => {
          // create img and text
          const div = document.createElement('div');
          div.classList = 'd-flex align-items-center';
          const img = document.createElement('img');
          img.src = '/assets/img/my-project/pdf.png';
          img.width = 30;
          img.classList = 'm-2'
          div.appendChild(img);
          const text = document.createElement('div');
          text.innerHTML = file.name;
          div.appendChild(text);
          preview.appendChild(div);

          

        }, false);

        reader.readAsDataURL(file);
      }
    }
    if (files) {
      Array.prototype.forEach.call(files, readAndPreview);
    }
  }


  const formCreateUniversity = document.getElementById('formCreateUniversity');
  
  formCreateUniversity.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(formCreateUniversity);
    

    // print value of formdata
    //for (var value of formData.values()) {
    //   console.log(value);
    //}
    fetch('/university/', {
      method: 'POST',
      body: formData
    }).then((res) => {
      const response = {
        status: res.status,
        data: res.json(),
      }
      return response
    })
      .then(data => {
        data.data.then((val) => {
          if (data.status != 200) {
            Swal.fire({
              position: 'center',
              icon: 'error',
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            })
          } else {
            Swal.fire({
              position: "center",
              icon: "success",
              text: val.message,
              showConfirmButton: false,
              timer: 1500
            }).then(() => {
              window.location.href = "/university"
            });
          }
        })
      })
  })
</script>